# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Codegym\Time\C0221H1\Timework\Module2java\13.Searchalgorithm\[Practice]Installabinarysearchalgorithmthatdoesnotuserecursion\binarysearchnotrecursion\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
