# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Codegym\Time\C0221H1\Timework\Module2java\1.IntroductiontoJava\[Practice]Calculatesthenumberofdaysinthemonth\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
