# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Codegym\Time\C0221H1\Timework\Module2java\12.JavaCollectionFramework\[Optional][Exercise]SettingadeleteoperationinBinarySearchTree\deletebst\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
