# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Codegym\Time\C0221H1\Timework\Module2java\6.Inheritance\[Exercise]ClassPoint2DandclassPoint3D\clapoi2poi3\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
